

/*******************/
/* general styling */
/*******************/




/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  

  margin: 0;
  padding: 0;


}

:root {
  --button-color: #B8AE79;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





/**********************************************************************/
/* algemene styling */
/**********************************************************************/


/* Alle a's */
a {
  text-transform: uppercase;
  text-decoration: none;


}

a:hover {
  color: black;
  border: black 1px solid;

  transition: .2s ;
}

a:focus {
  color: black;
  border: black 1px solid;
  outline: none;
}





/**********************************************************************/
/* header  styling */
/**********************************************************************/


video {

  z-index: 0;

  width: 100%;
  max-height: 60%;
  /* Breakpoint is op 740px, dan wordt de video minder hoog */
}


.logo {
  position: absolute;

  top: 1em;
  left: 1em;

  width: 20%;
  opacity: 90%;
}

header nav:first-of-type ul {
  display: flex;
  flex-direction: row-reverse;

  position: fixed;
  top: 1em;
  right: 0;

  z-index: 100;

}

header nav:first-of-type ul li {
  list-style: none;
}

/* eerste nav de afbeeldingen lage opacity. Met hover de opacity op 0 */
header nav:first-of-type ul li button {
  background-color: black;
  opacity: 60%; 
  border: black .5px solid;
  

  padding: .4em;
}

header nav:first-of-type ul li button:hover {
  opacity: 90%;
}

header nav:first-of-type ul li button:focus {
  opacity: 90%;
  outline-color: var(--button-color);
  /* background-color: ; */

}

header nav:nth-of-type(2) {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  
  transform:translatex(100%);
  z-index: 10;

  transition: .3s;

  width: 220px;
  padding: 2em;

  background-color: black;
  opacity: 90%;
}

header nav:nth-of-type(2).uitschuiven {
  position: fixed;
  top: 0;
  bottom: 0;
  
  transform:translatex(0%);

  width: 220px;
  padding: 2em;

  background-color: black;
  opacity: 90%;
}

header nav:nth-of-type(2) ul li {
  position: relative;
  top: 3em;

  list-style: none;
}

header nav:nth-of-type(2) ul li a {
  font-size: 1em;

  color: white;
  text-transform: none;
}

header nav:nth-of-type(2) ul li a:focus {
  opacity: 100%;
  background-color: var(--button-color);
  color: black;
}

header > button {
  position: relative;
  left: calc(50% - 1.9em);
  top: -2.2em;

  background-color: var(--button-color);
  border: none;

  width: 3.8em;
  height: 3.8em;

  transform: rotate(45deg);

}

header > button:hover {
  cursor: pointer;
  background-color: black;
}

header > button:focus {
  background-color: black;
  outline: var(--button-color);
}


header > button div {
  width: 22px;
  height: 22px;

  position: relative;
  top: calc(50% - 1.9em);
  left: 1em;

  border-bottom: white 3px solid;
  border-right: white 3px solid;
}



/* outline: none; */


/**********************************************************************/
/*  main  styling  */
/**********************************************************************/


/* Carroussel van plaatjes en linkjes */
section ul {
  position: relative;
  top: 2em;

  display: flex;
  flex-direction: row;
  overflow-x:auto;

  width: calc(90% - 5em);

  margin-left: auto;
  margin-right: auto;

  scroll-snap-type: x mandatory;

  gap: .8em;
}

section ul li {
  width: 9.2em;
  height: 10em;

  list-style: none;

  scroll-snap-align: center;

}

section ul li img {
  width: 7em;
  height: 7em;
}

section ul li a h1 {
  font-size: .8em;

  text-align: center;

  color: black;
}

section ul li a:hover {
  border: none;
}

section ul li a h1:hover {
  color: var(--button-color);
}

section button {
  position: relative;
  left: 3.5em;
  top: 8.5em;

  background-color: var(--button-color);
  border: none;

  width: 2.5em;
  height: 2.5em;

  transform: rotate(45deg);
  z-index: 5;
}

section button:nth-of-type(2) {
  left: 83%;
  top: -6em;
}

section button:hover {
  cursor: pointer;
  background-color: black;
}

section button:focus {
  background-color: black;
  outline: var(--button-color);
}


section button:first-of-type div {
  width: 10px;
  height: 10px;

  position: relative;
  top: 1px;
  left: 11px;

  border-bottom: white 1.8px solid;
  border-left: white 1.8px solid;
}

section button:nth-of-type(2) div {
  width: 10px;
  height: 10px;

  position: relative;
  bottom: 1px;
  right: -13px;

  border-top: white 1.8px solid;
  border-right: white 1.8px solid;
}

/* Alle linkjes/buttons, degene die op zichzelf staan. sign up, About */
main > ul li a {
  position: relative;
  top: 5em;

  font-size: 1em;
  font-weight: normal;

  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;

  color: var(--button-color);
  border: var(--button-color) 1px solid;

  width: 200px;
  padding:.5em;
}



/* Artikelen met img, h3, p, a h2 */
article {
  position: relative;
  top: 7em;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  width: 90%;
  max-width: 500px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  order: -1;

  max-width: 100%;
}

article h3 {
  text-transform: uppercase;
  transform: scaleY(1.2);
  transform-origin: bottom;
  
  font-size: 1.4em;
  font-weight: bolder;

  padding: 0 1rem;
}

article p {
  padding: 0 1em;
}

article h3:last-of-type {
  padding-top: .5em;
}

/* De linkjes in de artikelen */
article a {
  position: relative;
  top: 0em;

  display: block;
  margin-left: 1em;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;

  /* width: 125px; */
  padding:.5em 1em;

  color: var(--button-color);
  border: var(--button-color) 1px solid;
}

/* Form JOIN THE BAND */
form {
  position: relative;
  top: 7em;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  width: 90%;
  max-width: 500px;
}

form h3 {
  text-transform: uppercase;
  transform: scaleY(1.2);
  transform-origin: bottom;
  
  font-size: 1.4em;
  font-weight: bolder;
  text-align: center;

  margin-top: 2em;
  padding: 0 1rem;
}

form p {
  text-align: center;
  padding: .8em 0;
  
  font-size: 1em;
  letter-spacing: -.2px;
}

form label {
  padding: .2em 0;
}

form input {
  font-size: 1em;
  height: 30px;
  padding: 0 .2em;
}


form a {
  position: relative;
  top: 1em;

  font-size: 1em;
  font-weight: normal;

  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: .5em;

  color: var(--button-color);
  border: var(--button-color) 1px solid;

  width: 125px;
  padding:.5em;
}



span {
  font-weight: bold;
}

/* ;input[type="search"]; voor alle inputs met type search */





/**********************************************************************/
/* footer styling  */
/**********************************************************************/


footer {
  position: relative;
  margin-top: 10em;
}

footer a img {
  width: 100%;
}





