




/*******************/
/* general styling */
/*******************/


/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
  
    margin: 0;
    padding: 0;
  
  
}
  
:root {
    --button-color: #B8AE79;
    --button-hover: black;
    --div-button-hover: white;

    --background: transparent;

    --text-color: black;
    --titel-color: black;
    --input-color: rgb(80, 80, 80);

    --link-background: transparent;
    --link-text: #B8AE79;
    --hover-background-color: black;
    --hover-text-color: #B8AE79;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
                  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
@media (prefers-color-scheme:dark) {
    :root {
        --button-color: #B8AE79;
        --button-hover: rgb(221, 221, 221);
        --div-button-hover: rgb(29, 29, 29);

        --background: rgb(29, 29, 29);

        --text-color: rgb(221, 221, 221);
        --titel-color: #B8AE79;
        --input-color: rgb(221, 221, 221);

        --link-background: black;
        --link-text: #B8AE79;
        --hover-background-color: #B8AE79;
        --hover-text-color: black;
    }
}

  
  
  
  
/**********************************************************************/
/* algemene styling */
/**********************************************************************/
  

body {
    background-color: var(--background);
}
  
/* Alle a's */
a {
    text-transform: uppercase;
    text-decoration: none;
  
    box-shadow: none;
}
  
a:hover {
    color: var(--button-color);
    border: var(--button-color) 1.5px solid;
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
  
    transition: .2s ;
}
  
a:focus {
    color: var(--button-color);
    border: var(--button-color) 1px solid;
    background-color: var(--hover-background-color);
  
    box-shadow: 0 0 0 2px var(--button-color);
  
    transition: .2s;
    outline: none;
}
  
  
  
  
  
/**********************************************************************/
/* Header  styling */
/**********************************************************************/
  
  
.logo {
    position: absolute;
  
    top: 1em;
    left: 1em;
  
    width: 20%;
    opacity: 90%;
}

video {
    width: 100%;
    height: 100%;

    z-index: 0;
                                        /* Breakpoint is op 740px, dan wordt de video minder hoog */
}
  
header nav:first-of-type ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  
    position: fixed;
    top: 1em;
    right: 0;

    width: 225px;
  
    z-index: 100;
}
  
header nav:first-of-type ul li {
    list-style: none;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
}
  
/* eerste nav de afbeeldingen lage opacity. Met hover de opacity hoger */
header nav:first-of-type ul li button {
    background-color: black;
    opacity: 60%; 
    border: black .5px solid;
   
    padding: .4em;
}

header nav:first-of-type ul li button:hover {
    opacity: 90%;
}
  
header nav:first-of-type ul li button:focus {
    opacity: 90%;
    outline-color: none;
    box-shadow: 0 0 0 2px var(--button-color);
}
  
/* Ontzichtbare link om met screenreader meteen naar de content te gaan */
.skipMenu {
    position: absolute;
    top: 1.3em;
    left: 9em;
  
    opacity: 0;
  
    z-index: 999;
}
  
.skipMenu:focus {
    opacity: 1;
}
  
/* Uitschuivend hamburgermenu  */
header nav:nth-of-type(2) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    
    transform:translatex(100%);
    z-index: 10;
  
    transition: .3s;
  
    width: 220px;
    padding: 2em;
  
    background-color: black;
    opacity: 90%;
}
  
header nav:nth-of-type(2).uitschuiven {
    position: fixed;
    top: 0;
    bottom: 0;
    
    transform:translatex(0%);
  
    width: 220px;
    padding: 2em;
  
    background-color: black;
    opacity: 90%;
}
  
header nav:nth-of-type(2) ul li {
    position: relative;
    top: 3em;
  
    list-style: none;
}
  
header nav:nth-of-type(2) ul li a {
    font-size: 1em;
    text-transform: none;
    
    color: white;
}
  
header nav:nth-of-type(2) ul li:focus, header nav:nth-of-type(2) ul li a:focus {
    opacity: 100%;
    background-color: var(--button-color);
    color: black;
    border: none;
}
  
header > button {
    position: relative;
    left: calc(50% - 1.9em);
    top: -2.2em;
  
    background-color: var(--button-color);
    border: none;
  
    width: 3.8em;
    height: 3.8em;
  
    transform: rotate(45deg);
}
  
header > button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}
  
header > button:focus {
    background-color: var(--button-hover);
    outline: var(--button-color);
}
  
header > button div {
    width: 22px;
    height: 22px;
  
    position: relative;
    top: calc(50% - 1.9em);
    left: 1em;
  
    border-bottom: var(--div-button-hover) 3px solid;
    border-right: var(--div-button-hover) 3px solid;
}





/**********************************************************************/
/* General styling  */
/**********************************************************************/


span {
    font-weight: bold;
}
  



  
/**********************************************************************/
/* Footer styling  */
/**********************************************************************/


footer {
    margin-top: 10em; 
}

footer > a {
    box-shadow: none;
    border: none;
    background-color: unset;
}

footer a img {
    width: 100%;
    height: 30em;
    object-fit: cover;
}

footer a h2 {
    position: relative;
    top: -9em;

    color: white;

    transform: scaleY(1.2);
    transform-origin: bottom;

    padding: 0 1.5rem;
}

footer a p {
    position: relative;
    top: -12em;

    width: 90%;

    margin-left: auto;
    margin-right: auto;

    color: white;
    text-transform: none;
    font-size: 1.1em;
}

footer > a:hover {
    box-shadow: none;
    border: none;
    background-color: unset;
}


footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: -1.5em;

    border-top: darkgray .7px solid;
}

footer section ul {
    position: relative;
    top: 0;

    display: flex;
    flex-direction: column;
    overflow-x: unset;
    
    width: 50%;
    min-width: 10em;
    max-width: 16em;
    height: 12em;

    margin-left: auto;
    margin-right: auto;

    padding: 1em;
    margin: 0;

    gap: 1.5em;
}

footer section ul li {
    width: 14em;
    height: 0;
  
    list-style: none;

    font-size: .8rem;
}

footer section ul li:first-of-type {
    text-transform: uppercase;
    font-size: 1em;
    color: var(--text-color);

    margin-bottom: .3em;
}

footer section ul:last-of-type {
    flex-direction: row;

    height: 5em;
    gap: 1.4em;
}



footer section ul:last-of-type li {
    position: relative;
    top: 2em;
    left: -5.9em;
}

footer section ul:last-of-type li:first-of-type {
    top: 0;
    left: 0;
}

footer section ul li a {
    text-transform: none;
    color: var(--text-color);
}

footer section ul li a:hover {
    background-color: transparent;
    color: var(--link-text);
    border: none;
}

footer section ul li img {
    width: 1.8em;
    height: 1.8em;
}


footer > p {
    margin: 1em;
    margin-top: .2em;

    color: var(--text-color);
}

