




/**********************************************************************/
/*  HOMEPAGINA STYLING  */
/**********************************************************************/


/**********************************************************************/
/*  Main styling  */
/**********************************************************************/


/* Ul van plaatjes en linkjes */
main section ul { 
  position: relative;
  top: 1em;

  display: flex;
  flex-direction: row;
  overflow-x: auto;

  width: calc(90% - 5em);
  max-width: 500px;
  
  height: 12em;

  padding: .5em ;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;

  scroll-snap-type: x-mandatory;

  gap: .8em;

  border: var(--button-color) .7px solid;

/* Code van Sanne. De scrollbalk laten verdwijnen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

main section ul li { 
  width: 9.2em;

  list-style: none;

  scroll-snap-align: center;
}

main section ul li img {
  width: 8em;
  height: 8em;
}

main section ul li a {
  font-size: .8em;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  
  text-align: center;

  color: var(--text-color);
}

main section ul li a:hover {
  border: none;
  background-color: var(--button-hover);
  color: var(--hover-text-color);
}

main section ul li a:focus {
  border:none;
  background-color: var(--button-hover);
  box-shadow: 0 0 0 2px var(--button-color);
}

#vorige, #volgende {
  position: relative;
  left: 2.8em;
  top: 8.5em;

  display: block;

  background-color: var(--button-color);
  border: none;

  width: 2.5em;
  height: 2.5em;

  transform: rotate(45deg);
  z-index: 5;
}

#volgende {
  left: 83%;
  top: -6em;
}

#vorige:hover, #volgende:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

#vorige:focus, #volgende:focus {
  background-color: var(--button-hover);
  outline: var(--button-color);
}

#vorige div {
  width: 10px;
  height: 10px;

  position: relative;
  top: 15px;
  left: 15px;

  border-bottom: var(--div-button-hover) 1.8px solid;
  border-left: var(--div-button-hover) 1.8px solid;
}

#volgende div {
  width: 10px;
  height: 10px;

  position: relative;
  bottom: -15px;
  right: -15px;

  border-top: var(--div-button-hover) 1.8px solid;
  border-right: var(--div-button-hover) 1.8px solid;
}

/* Alle linkjes/buttons, degene die op zichzelf staan. sign up, About */
main > ul li a {
  position: relative;
  top: 4em;

  font-size: 1em;
  font-weight: bold;

  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;

  color: var(--button-color);
  border: var(--button-color) 1.5px solid;

  width: 200px;
  padding:.5em;
}

/* Artikelen met img, h3, p, a h2 */
article {
  position: relative;
  top: 7em;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  width: 90%;
  max-width: 500px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  order: -1;

  max-width: 100%;
}

article h2 {
  text-transform: uppercase;
  transform: scaleY(1.2);
  transform-origin: bottom;
  
  font-size: 1.4em;
  font-weight: bolder;
  color: var(--text-color);

  padding: 0 1rem;
}

article p {
  padding: 0 1em;

  color: var(--text-color);
}

article h2:last-of-type {
  padding-top: .5em;
}

/* De linkjes in de artikelen */
article a {
  position: relative;
  top: 0em;

  font-size: 1em;
  font-weight: bold;

  display: block;
  margin-left: 1em;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;

  padding:.5em 1em;

  color: var(--button-color);
  border: var(--button-color) 1.5px solid;
}

/* Form JOIN THE BAND */
form {
  position: relative;
  top: 7em;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  width: 90%;
  max-width: 500px;
}

form h2 {
  text-transform: uppercase;
  transform: scaleY(1.2);
  transform-origin: bottom;
  
  font-size: 1.4em;
  font-weight: bolder;
  color: var(--text-color);
  text-align: center;

  margin-top: 2em;
  padding: 0 1rem;
}

form p {
  text-align: center;
  padding: .8em 0;
  
  font-size: 1em;
  letter-spacing: -.2px;
  color: var(--text-color);
}

form label {
  padding: .2em 0;
  color: var(--text-color);
}

form input {
  background-color: var(--background);

  font-size: 1em;
  height: 30px;
  padding: 0 .2em;
  color: var(--input-color);
}

/* input[type="text"]; voor alle inputs met type text */
form [type="text"], [type="email"] {
  border: var(--button-color) 1px solid;
}

form [type="text"]:focus, [type="email"]:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--button-color);
  border: var(--button-color) 1px solid;
  border-radius: .5px;

  transition: .3s;
}

form [type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  width: 1em;
  height: 1em;
  border: black .3px solid;;
  
  background-color: rgb(206, 206, 206);

  margin: .3em .3em;

  position: relative;
  top: .4em;
  left: -.3em;
}

form [type="checkbox"]:hover {
  background-color: var(--hover-background-color);
}

form [type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 1.3px var(--button-color);
  border: black .3px solid;
  background-color: rgb(131, 131, 131);

  transition: .2s;
}

form [type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--button-color);
  border: black .3px solid;
  background-color: rgb(24, 24, 24);
}




