




/**********************************************************************/
/*  RECOMMENDED RETAILERS STYILING  */
/**********************************************************************/





/**********************************************************************/
/*  Header Styling  */
/**********************************************************************/


header > img:first-of-type {
    width: 100%;

    z-index: 0;
}

header > a {
    color: var(--link-text);
    text-transform: none;

    position: relative;
    top: -.7em;
    left: -2.5em;
}

header > a:hover {
    color: var(--text-color);
    background-color: transparent;
    border: none;
}




/**********************************************************************/
/*  Main  styling  */
/**********************************************************************/


main h2 {
    color: var(--text-color);
    font-size: 2.2em;

    text-transform: uppercase;
    transform: scaleY(1.5);
    transform-origin: bottom;

    margin: 2em 0 1em 1em;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main form h3 {
    color: var(--text-color);
    font-size: 1.3em ;
   list-style: none;
}

main form label img {
    width: 4em;
    padding: 0em;
    margin: .5em;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

    margin-left: auto;
    margin-right: auto;

    width: 90%;
    max-width: 500px;
}

form fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    border: none;
}

form fieldset h3 {
    text-align: center;
}

form fieldset label:hover {
    cursor: pointer;
}

form fieldset:nth-of-type(2) h3 {
    margin: auto 90px;
}

form fieldset:last-of-type {
    justify-content: flex-start;
}

form fieldset:last-of-type label {
    position: relative;
    bottom: 7px;

    font-weight: bold;
    color: var(--text-color);

    margin-left: 3%;

    cursor: unset;
}

form fieldset:last-of-type label:last-of-type {
    margin-left: 1%;
}

form label {
    color: var(--text-color);
    
    font-size: 1.2em;

    padding: .5em;
}

form > label {  
    font-weight: bold;
}

form [type="checkbox"] {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;

    position: relative;
    bottom: calc(50% - 25px);
}

form [type="checkbox"]::before {
    content: "✔";
    color: var(--button-color);
    font-size: 40px;

    position: relative;
    bottom: 10px;
    left: 5px;
}

form [type="checkbox"]:checked::before {
    content: "✘";
}

form select {
    position: relative;
    right: -1em;
    width: 60%;
    padding: .5em;
    margin: .5em;

    border: var(--button-color) 1px solid;
    background-color: var(--background);
  
    font-size: 1em;
    height: 30px;
    padding: 0 .2em;
    color: var(--input-color);
}

form select:hover {
    cursor: pointer;
}

form select:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--button-color);
    border: var(--button-color) 1px solid;
    border-radius: .5px;
  
    transition: .3s;
}

form input {
    background-color: var(--background);
  
    font-size: 1em;
    height: 30px;
    padding: 0 .2em;
    color: var(--input-color);
}

/* input[type="text"]; voor alle inputs met type text */
form [type="text"] {
    border: var(--button-color) 1px solid;
}  

form [type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--button-color);
    border: var(--button-color) 1px solid;
    border-radius: .5px;
  
    transition: .3s;
}

form [type="text"], [type="range"] {
    position: relative;
    right: -1em;
    width: 60%;
    padding: .5em;
    margin: .5em;
}

form [type="range"] {
    -webkit-appearance: none;

    width: 50%;
    height: 5px;
    border-radius: 5px;

    background-color: var(--button-color);
}

form [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 25px;
    height: 25px;
    border-radius: 25px;

    background: var(--button-color);
}

main section {
    position: relative;
    top: 2em;
}

main section ul {
    list-style: none;
}

main section h4 {
    text-transform: uppercase;
    text-align: center;

    transform: scaleY(1.2);
    transform-origin: bottom;
  
    font-size: 1.4em;
    font-weight: bolder;
    color: var(--text-color);

    padding: 0 1rem;
}

main section ul li a {  
    font-size: .9rem;
    font-weight: bold;
  
    text-align: center;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin: .5em;
  
    color: var(--button-color);
    border: var(--button-color) 1.5px solid;
  
    width: 200px;
    padding:.5em;
}

